body {
  background: #828282;
  padding-bottom: 100px;
}
.App {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 40px;
  border-radius: 25px;
  border: 1px solid #bdbdbd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 30px 10px 40px;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.2)
    ),
    url(./images/04n.jpeg);
  font-family: "Roboto", sans-serif;
  background-size: 700px;
  color: #000000;
  opacity: 0.7;
  text-shadow: #ffffff 1px 0 8px;
}
.Search {
  margin-top: 30px;
  opacity: 0.8;
}
.Main {
  display: flex;
  margin-top: 10px;
}
.Main .units {
  font-size: 20px;
  min-width: 60px;
}
.Icon {
  display: block;
}
.Info {
  line-height: 35px;
}
.Info span {
  opacity: 0.8;
}
.Info .space {
  margin-right: 20px;
}
.Forecast canvas {
  display: block;
}
.Forecast {
  width: 100%;
  text-align: center;
  margin: 0px 10px;
  font-size: 18px;
}

.Footer {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  width: 590px;
  color: #424242;
}

.Footer a {
  color: #00b7ff;
  transition: all 250ms ease-in-out;
}
